<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - College of Technology</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="sticky-top shadow">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom mb-3">
            <div class="container-fluid">
                <a class="navbar-brand p-0" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/cot-logo-white.svg" alt="COT Logo" style="height: 35px; vertical-align: middle;" />
                    <span class="brand-name text-white" style="font: bold 16px Arial, sans-serif; line-height: 20px; display: inline-block; padding-top: 2px; vertical-align: middle; ">COLLEGE OF<br />TECHNOLOGY</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="navbar-toggler-icon"></i>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">PRIVACY</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="fixed-bottom border-top bg-dark text-light text-muted">
        <div class="container-fluid">
            &copy; @DateTime.Today.Year - College of Technology - Site created by <a class="text-muted" href="mailto:nifraz@live.com">nifraz@live.com</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
