@model Cot.Web.Core.Domain.Course

@{
    ViewData["Title"] = "Delete Course";
}

@section Header {
    <!--Container-->
    <div class="p-1 pt-0 pb-2 container-fluid border-bottom" style="background: url('@Url.Content("~/images/circuit-board.svg")');">
        <!--Row-->
        <div class="m-0 p-0 g-2 row">
            <!--Col-->
            <div class="gap-2 col-12 d-flex align-content-center">
                <!--Title-->
                <h3 class="m-0 p-0">Delete <strong>Course</strong></h3>
                <!--Buttons-->
                <a class="ms-auto btn btn-secondary" title="Back to List" asp-action="Index"><i class="bi bi-arrow-left-circle"></i>&nbsp;LIST</a>
            </div>
        </div>
    </div>
}

<!--Row-->
<div class="m-0 p-0 pb-2 g-2 row border-bottom">
    <!--Col-->
    <div class="col-12 d-flex flex-row align-content-center">
        <!--Info-->
        <h6 class="m-0 p-0">Are you sure you want to delete this Course?</h6>
    </div>
</div>

<div class="m-0 p-0 g-2 row">
    <div class="col-12">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="col-12">
        @Html.DisplayFor(model => model.Title)
    </div>

    <form asp-action="Delete">
        <div class="gap-2 col-12 d-flex">
            <input type="hidden" asp-for="Code" />
            <button class="btn btn-danger" type="submit" title="Delete"><i class="bi bi-trash3"></i>&nbsp;DELETE</button>
            <!--Cancel-->
            <a class="btn btn-secondary" title="Cancel" asp-action="Index"><i class="bi bi-x-circle"></i>&nbsp;CANCEL</a>
        </div>
    </form>
</div>
