@model CourseViewModel

@{
    ViewData["Title"] = "Course Details";
}

<h1>Details</h1>

<div>
    <h3>Course</h3>
    <hr />
    <div class="row">
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDateTime)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDateTime)
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
