@model CourseViewModel

@{
    ViewData["Title"] = "Course Details";
}

@section Header {
    <!--Row-->
    <div class="m-0 p-0 g-2 row">
        <!--Col-->
        <div class="gap-2 col-12 d-flex align-content-center">
            <!--Title-->
            <h3 class="m-0 p-0"><strong>Course</strong> Details</h3>
            <!--Buttons-->
            <a class="ms-auto btn btn-secondary" title="Back to List" asp-action="Index"><i class="bi bi-list"></i>&nbsp;COURSES</a>
        </div>
    </div>
}

<!--Form-->
<form method="post">
    <!--Row-->
    <div class="m-0 p-0 pb-2 g-2 row border-bottom">
        <!--Col-->
        <div class="col-12 d-flex align-content-center">
            <!--Info-->
            <h6 class="m-0 p-0">@Model.Course.Code (UID: @Model.Course.Id)</h6>
        </div>
    </div>
    <!--Row-->
    <div class="m-0 p-0 g-2 row">
        <!--Col-->
        <div class="col-12">
            <!--Id-->
            <h4>@Model.Course.Title</h4>
        </div>
    </div>
</form>
