@{
    ViewData["Title"] = "Courses Overview";
}

<!--Title-->
<div class="title text-white shadow">
    <!--Row-->
    <div class="g-2 row">
        <!--Col-->
        <div class="gap-2 col-12 d-flex align-content-center">
            <!--Title-->
            <h4 class="m-0 ms-2 pt-1"><strong>Courses</strong> Overview</h4>
            <!--Buttons-->
            <div class="ms-auto gap-2 d-flex">
                <!--Manage-->
                <a class="btn btn-primary" asp-action="Manage"><i class="bi bi-list-ul"></i></a>
                <!--Create-->
                <a class="btn btn-success" asp-action="Create"><i class="bi bi-plus-circle"></i>&nbsp;NEW</a>
            </div>
        </div>
    </div>
</div>
